<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/adminpage.css">
</head>
<body>
    <div id="admin-container">
     <!-- <form action="/home" method="post"> -->
        <h1>! Hey Admin ! <br>WELCOME</h1>
        
        
        <div class="admin-buttons">
            <a href="/admin/showUser"><button class="admin-button">Show Users</button></a>
            <a href="/admin/addProduct"><button class="admin-button">Add Product</button></a>
            <a href="/admin/showProduct"><button class="admin-button" >Show Products</button></a>
        </div>  
       
     <!-- </form> -->
    </div>

</body>
</html>