<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/editProduct.css" />
    <title>Edit Product</title>
  </head>
  <body>
    <form
      action="/admin/posteditProduct/<%= product._id %>"
      method="post"
      enctype="multipart/form-data"
    >
      <h2>Edit Form</h2>

      <label for="productName">Product Name:</label>
      <input
        type="text"
        id="productName"
        name="productName"
        value="<%= product.productName %>"
        required
      />

      <label for="productDescription">Product Description:</label>
      <textarea
        id="productDescription"
        name="productDescription"
        rows="4"
        required
      >
<%= product.productDescription %></textarea
      >

      <label for="productPrice">Product Price:</label>
      <input
        type="number"
        id="productPrice"
        name="productPrice"
        step="0.01"
        value="<%= product.productPrice %>"
        required
      />

      <label for="productImage">Image</label>
      <input
        type="file"
        id="productImage"
        name="productImage"
        accept="image/*"
      />

      <button type="submit">Update Product</button>
    </form>
  </body>
</html>
