<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/showUsers.css" />
    <title>User List</title>
  </head>
  <body>
    <form action="/showUser" method="post">
      <h2>User List </h2>
      <div class="container">
        <form>
          <% users.forEach(user => { %>
            <div class="profile-container">
              <h1>User Profile</h1>
              <div class="profile-info">
                <ul>
                  <li><strong>Username:</strong> <%= user.name %></li>
                  <li><strong>Email:</strong> <%= user.email %></li>
                </ul>
              </div>
            </div>
          <% }); %>
        </form>
      </div>
    </form>
  </body>
</html>
