body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.product-form-container {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(181, 48, 48, 0.1);
    padding: 20px;
    border-radius: 8px;
    width: 300px;
}

form {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 15px;
    border-radius: 8px;

}

h2 {
    text-align: center;
    color: #333;
}

label {
    margin-top: 10px;
    color: #555;
}

input, textarea, button {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

input[type="file"] {
    padding: 5px;
}

button {
    background-color: rgb(0, 0, 0);
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

button:hover {
 scale: 1.005;
}
    